HovedOpgave/BirkealleWebsite/Service References/WebService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Webservice.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Webservice.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="FkClassid" type="xs:int" />
          <xs:element minOccurs="0" name="Fkuserid" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fkschoolid" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lastlogin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phonenumber" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Userrole" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Class">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fkschoolid" type="xs:int" />
      <xs:element minOccurs="0" name="Fkteacherid" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class" nillable="true" type="tns:Class" />
  <xs:complexType name="Teacher">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fkuserid" type="xs:int" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Teacher" nillable="true" type="tns:Teacher" />
  <xs:complexType name="Parent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fkuserid" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parent" nillable="true" type="tns:Parent" />
  <xs:complexType name="Enrollment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildBirthdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildFirstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildLastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildPhonenumber" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fkschoolid" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Enrollment" nillable="true" type="tns:Enrollment" />
</xs:schema>