HovedOpgave/AdminModule/Service References/Webservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10643/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10643/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10643/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Webservice.DB" />
      <xsd:import schemaLocation="http://localhost:10643/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Webservice.Extended" />
      <xsd:import schemaLocation="http://localhost:10643/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Webservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetLoginDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindParentsChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:FindParentsChildren" />
  </wsdl:message>
  <wsdl:message name="IService1_FindParentsChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindParentsChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClassDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClassDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnnouncement" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAnnouncements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnouncements" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAnnouncements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnouncementsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAnnouncementCreator_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnouncementCreator" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAnnouncementCreator_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnouncementCreatorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertParent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertParent" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertParent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertParentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetParents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetParents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClasses" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertClass_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClass" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteClass_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClass" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEnrollment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEnrollment" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEnrollment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEnrollmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEnrollments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrollments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEnrollments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrollmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetLoginDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLoginDetails" message="tns:IService1_GetLoginDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLoginDetailsResponse" message="tns:IService1_GetLoginDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserDetails" message="tns:IService1_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserDetailsResponse" message="tns:IService1_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindParentsChildren">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindParentsChildren" message="tns:IService1_FindParentsChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindParentsChildrenResponse" message="tns:IService1_FindParentsChildren_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClassDetails" message="tns:IService1_GetClassDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClassDetailsResponse" message="tns:IService1_GetClassDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAnnouncement" message="tns:IService1_CreateAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAnnouncementResponse" message="tns:IService1_CreateAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnnouncements">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAnnouncements" message="tns:IService1_GetAnnouncements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAnnouncementsResponse" message="tns:IService1_GetAnnouncements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnnouncementCreator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAnnouncementCreator" message="tns:IService1_GetAnnouncementCreator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAnnouncementCreatorResponse" message="tns:IService1_GetAnnouncementCreator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangePassword" message="tns:IService1_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangePasswordResponse" message="tns:IService1_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertTeacher" message="tns:IService1_InsertTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertTeacherResponse" message="tns:IService1_InsertTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeachers" message="tns:IService1_GetTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeachersResponse" message="tns:IService1_GetTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertParent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertParent" message="tns:IService1_InsertParent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertParentResponse" message="tns:IService1_InsertParent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetParents" message="tns:IService1_GetParents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetParentsResponse" message="tns:IService1_GetParents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertStudent" message="tns:IService1_InsertStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertStudentResponse" message="tns:IService1_InsertStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudents" message="tns:IService1_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsResponse" message="tns:IService1_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStudent" message="tns:IService1_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStudentResponse" message="tns:IService1_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClasses" message="tns:IService1_GetClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClassesResponse" message="tns:IService1_GetClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertClass" message="tns:IService1_InsertClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertClassResponse" message="tns:IService1_InsertClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteClass" message="tns:IService1_DeleteClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteClassResponse" message="tns:IService1_DeleteClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEnrollment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateEnrollment" message="tns:IService1_CreateEnrollment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateEnrollmentResponse" message="tns:IService1_CreateEnrollment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnrollments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEnrollments" message="tns:IService1_GetEnrollments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEnrollmentsResponse" message="tns:IService1_GetEnrollments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUserDetails" message="tns:IService1_UpdateUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserDetailsResponse" message="tns:IService1_UpdateUserDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoginDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLoginDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindParentsChildren">
      <soap:operation soapAction="http://tempuri.org/IService1/FindParentsChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClassDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAnnouncement">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnouncements">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAnnouncements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnouncementCreator">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAnnouncementCreator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeachers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertParent">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetParents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClasses">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClass">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEnrollment">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateEnrollment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrollments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEnrollments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:10643/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>