HovedOpgave/AdminModule/Service References/Webservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10643/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10643/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10643/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Webservice.DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetLoginDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCount" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetLoginDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLoginDetails" message="tns:IService1_GetLoginDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLoginDetailsResponse" message="tns:IService1_GetLoginDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateTeacher" message="tns:IService1_CreateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateTeacherResponse" message="tns:IService1_CreateTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacher" message="tns:IService1_GetTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherResponse" message="tns:IService1_GetTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeachers" message="tns:IService1_GetTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeachersResponse" message="tns:IService1_GetTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudents" message="tns:IService1_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsResponse" message="tns:IService1_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserCount" message="tns:IService1_GetUserCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserCountResponse" message="tns:IService1_GetUserCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoginDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLoginDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeachers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCount">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:10643/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>