HovedOpgave/SMSModule/Service References/Webservice/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Webservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnnouncement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Announcement" nillable="true" type="tns:Announcement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnnouncement" nillable="true" type="tns:ArrayOfAnnouncement" />
  <xs:complexType name="Announcement">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassID" type="xs:int" />
      <xs:element minOccurs="0" name="Creator" type="xs:int" />
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Announcement" nillable="true" type="tns:Announcement" />
</xs:schema>